<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="static/mystyle.css">
    <meta charset="UTF-8">
    <title>Which Stop</title>
  </head>
<body style = "background:url(static/west.jpg);background-repeat:no-repeat;background-size:1400px 750px">
    <center><div class = "transbox2">
    <h1>When's the Next Train Coming?</h1>
          <h1>Enter the Name of the Stop:</h1>
          <form method="POST" action="/time">
          <input type = "text" name = "stop_name">
        <input class="btn btn-primary" type="submit" value="Go">
         </form>
        <p></p><h10> Note: Abbreviate cardinal directions with their first letter, e.g. <b> N Beacon </b> instead of <b> North Beacon </b>. Use <b>St, Rd</b> instead of <b>street, road</b>, and use <b>@, opp</b> to replace <b>at, opposite</b></h10>
    </div></center>
     </body>
</html>