<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% if account %}
        <div><a href='/logout'>Logout</a></div>
    {% else %}
        <div style="text-align:center;">
            <form action="/register" class="f1">
                <input type="submit" value="Register" />
            </form>
        </di>
    {% endif %}

    {% if account %}
        <div title="Your Profile">{{ account }}</div>
    {% else %}
        <div>
            <form action="/login" class="f2">
                <input type="submit" value="Log In" />
            </form>
        </div>
    {% endif %}

</body>
</html>