<html>
	<head>
        <meta charset="UTF-8">
		<title>Let's MBTA!</title>
        <link rel = "stylesheet" href = "static/mystyle.css" type = "text/css" />
	</head>
	<body background="static/map.jpg">
        <div class = "transbox">
            <h1><center>Let's MBTA!</center></h1>
            <center><form action="check_login" method="POST" >
                Sign In:
                <input type='text' name='email' id='email' placeholder='Email'>
                <input type='password' name='password' id='password' placeholder='Password'>
                <input type='submit' name='submit' placeholder="submit">
            </form>
                <p>Don't have an account? Create one <a href="register">here.</a></p>
            </center>
        </div>
	</body>
</html>