<html>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="3395748292353-6vlmj4rkedg340i13ff4rr5i88udst87.apps.googleusercontent.com">
	<head>
        <meta charset="UTF-8">
		<title>Let's MBTA!</title>
        <link rel = "stylesheet" href = "static/mystyle.css" type = "text/css" />
	</head>
	<body background="static/map.jpg">
        < class = "transbox">
            <h1><center>Let's MBTA!</center></h1>
            <center><form action="/check_login" method="POST" >
                Sign In:
                <input type='text' name='email' id='email' placeholder='Email'>
                <input type='password' name='password' id='password' placeholder='Password'>
                <input type='submit' name='submit' placeholder="submit">
            </form>
                <p>Don't have an account? Create one <a href="register">here.</a></p>
            </center>

            {% block body %}
                 <h2>Flask Login App</h2>
                 {% if session['screen_name'] %}
                    Hello {{ session['screen_name'] }}!
                 {% else %}
                 <p>
                Sign in with twitter.
                <p>
                <a href="{{ url_for('authorize') }}"><img src="{{
                url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
                {% endif %}
            {% endblock %}
        </div>
	</body>
</html>