<!DOCTYPE html>
<html lang="en">
<head>
    <link href = "static/mystyle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body style = "background:url(static/profile.jpg);background-repeat:no-repeat;background-size:100% 100%">
    <div class="transbox">
        <center><h1>What would you like to do today?</h1>
        <p>Check the <a href="/weather">weather</a></p>
        <p>Check when the next train is <a href="/enter_zip">coming</a></p>
        </center>
    </div>
</body>
</html>