<!DOCTYPE HTML>
<html lang = "en">
  <head>
      <link rel = "stylesheet" href = "static/mystyle.css" type = "text/css" />
    <title>enter_Stop.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body style = "background:url(static/west.jpg);background-repeat:no-repeat;background-size:1400px 750px">
    <center><div class = "transbox2">
    <h1>Next arrival time(s):</h1>
    {% if arrival_times[0] == "-" %}
        <p> You have entered an invalid stop. Please try again.</p>
         <form method="GET" action="/home">
         <input class="btn btn-primary" type="submit" value="Go back to start">
         </form>
    {% else %}
        <p><b> {{arrival_times[0]}}</p>
        <p>{{arrival_times[1]}} </p>
    {% endif %}
  <p>
      <a href="/temperature"> Check temperature </a>
    <p> </p>
    <a href="/home">Home</a>
    </div>
    </center>

  </p>



    </body>
</html>