<!DOCTYPE HTML>
<html lang = "en">
  <head>
      <link rel = "stylesheet" href = "static/mystyle.css" type = "text/css" />
    <title>enter_Stop.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>These are the next two arrival times:</h1>
    {% if arrival_times[0] == "-" %}
        <p> You have entered an invalid stop. Please try again.</p>
         <form method="GET" action="/">
         <input class="btn btn-primary" type="submit" value="Go back to start">
         </form>
    {% else %}
        <p><b> {{arrival_times[0]}}</p>
        <p>{{arrival_times[1]}} </p>
    {% endif %}
    </body>
</html>